.scene{
	-fx-background-color: rgb(220, 220, 220);
}

.button {
	-fx-font-size: 20pt;
}

#key-background {
	/** -fx-background-color: rgb(220, 220, 220);
	-fx-background-radius: 10; 
	-fx-focus-traversable: false;
	-fx-border-color: rgb(10, 10, 10);
	-fx-border-width: 0.5;
	-fx-border-radius: 10;*/
	-fx-padding: 10;
	-fx-vgap: 10;
	-fx-hgap: 10;
	-fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.4) , 10, 0.0 , 2 , 4 );
	
}

#key-context-background {
	-fx-background-color: rgb(220, 220, 220);
	-fx-background-radius: 5;
	-fx-focus-traversable: false;
	-fx-border-color: rgb(10, 10, 10);
	-fx-border-width: 0.5;
	-fx-border-radius: 5;
	-fx-vpos: top;
	-fx-opacity: 0.8;
	-fx-padding: 10;
	-fx-vgap: 10;
	-fx-hgap: 10;
	-fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.4) , 10, 0.0 , 2 , 4 );
	
}

#key-button.button {
	-fx-font-size: 19pt;
    -fx-font-family: "Tahoma";
	-fx-text-fill: white;
	-fx-padding: 10;
	-fx-color: rgb(60, 66, 80);
}

#key-button.button:hover{
   -fx-color: rgb(100, 106, 120);
}

#key-button.button:pressed{
   -fx-color: rgb(200, 206, 220);
   -fx-scale-x: 0.95;
   -fx-scale-y: 0.95;
}
