.window {
    -fx-skin: "jfxtras.labs.internal.scene.control.skin.window.DefaultWindowSkin";
    -fx-glass-color: rgba(230, 230, 230, 1);
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 50%), -fx-glass-color);
    -fx-border-color: derive(-fx-glass-color, -60%);
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12;

}

.window #window-text{
-fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-opacity: 0.2;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}