.scene{
    -fx-font-size: 20pt;
    -fx-font-family: "Tahoma Bold";
    -fx-accent: #0093ff;
    -fx-base: lightgray;
    -fx-background: darkgray;
    -fx-control-inner-background: white;
    -fx-focus-color: yellow;
    -fx-dark-text-color: black;
    /** -fx-mid-text-color: #292929; */
    -fx-light-text-color: white;
}

.scroll-view {
    -fx-pannable: true;
}

.list-view {
    -fx-pannable: true;
}

.button {
    -fx-text-fill: #e4f3fc;
    -fx-font-size: 22pt;
    -fx-font-family: "Tahoma Bold";
    -fx-padding: 10;
    -fx-color: #2d4b8e;
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-color: #395bae;
}

#key-background {
	-fx-background-color: rgb(200, 200, 200);
	-fx-focus-traversable: false;
	-fx-border-color: rgb(10, 10, 10);
	-fx-border-width: 1;
	-fx-border-radius: 2;
	-fx-padding: 10;
	-fx-vgap: 10;
	-fx-hgap: 10;
	-fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.4) , 10, 0.0 , 2 , 4 );
	
}

#key-context-background {
	-fx-background-color: rgb(220, 220, 220);
	-fx-background-radius: 5;
	-fx-focus-traversable: false;
	-fx-border-color: rgb(10, 10, 10);
	-fx-border-width: 1;
	-fx-border-radius: 5;
	-fx-vpos: top;
	-fx-opacity: 0.8;
	-fx-padding: 10;
	-fx-vgap: 10;
	-fx-hgap: 10;
	-fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.4) , 10, 0.0 , 2 , 4 );
	
}

#key-button.button {
	-fx-text-fill: white;
	-fx-color: rgb(60, 66, 80);
}

#key-button.button:hover{
   -fx-color: rgb(100, 106, 120);
}

#key-button.button:pressed{
   -fx-color: rgb(200, 206, 220);
   -fx-scale-x: 0.9;
   -fx-scale-y: 0.9;
}
